/* FONT FAMILY */
@import url(//fonts.googleapis.com/css?family=Lato&subset=latin,latin-ext);
@import url(//fonts.googleapis.com/css?family=Playfair+Display&subset=latin,latin-ext);

/* GENERAL-HEADER */
body {
    margin:0;
}

.header {
    background-color: #F9E89B;
    display: flex;
    width: 100%;
    height: 100%;
    vertical-align: middle;
}

.blank{
    width: 25%;
}

.title{
    width: 50%;
    text-align: center;
}

.title p{
    font-family: Playfair Display;
    font-size: 300%;
    width: auto;
    color: #3A4042;
    font-weight: bold;
    margin-top: 0%;
    margin-bottom: 0%;
    position: relative;
}

img {
    height : 55px;
    fill : #260520;
    float: right;
    margin-top:5px;   
}

.refresh{
    text-align: center;
    width: 25%;
}

.body{
    color: #F9E89B;
    font-weight: 550; 
    font-family: Playfair Display;
    font-size: 120%;
}

.forms{
    margin: 0;
    background-color: #FF6B46 ;
    padding: 15px;
    height:auto;
}

.forms p{
    text-align: center;
    margin:0;
    word-wrap: normal;
}

.form-container{
    margin-left: 25%;
    margin-right: 25%;
}

.input-container{
    margin : 10px;
}

.footer{
    text-align: center;
    background-color: #F9E89B;
    padding:5px;
}

.authors {
    margin:0;
    font-size: 125%;
    font-family: Playfair Display;
    color: #3A4042;
    font-weight: bold;
}

.authors p{
    margin :0;
}

.label{
    float: left; 
    margin-right: 10%;   
    word-wrap: normal;
}

span.unit{
    float: right;
    margin: 5px;
}

.submit{
    text-align: center;
    padding: 2px;
}

.radio{
    text-align: right;
    margin: 5px;
}

.dropdown{
    text-align: right;
    margin :5px;    
}

.dropdown select{
    border-radius: 4px;
    font-family: Playfair Display;
    font-size: 80%;
    width:22%;
    height: 25px;
    background-color: #F9E89B;
    color: #3A4042;
}

.input{
    margin : 5px;
    text-align: right;
}

input[type=text]{
    border-radius: 4px;
    width: 12%;
    height: auto;
    font-size: 80%;
    font-family: Playfair Display;
    text-align: center;
    background-color: #F9E89B;
    color: #EA3C33;
}

button {
    border-radius: 4px;
    border : 3px #3A4042;
    background-color: #F9E89B;
    font-family: Lato;
    font-size: 100%;
    font-weight: bold;
    color: #EA3C33;
    padding: 2px;
    margin-bottom: 7px;
}

button:hover {
    background-color: #3A4042;
    color: #F9E89B;
    border : 5px;
}

.results{
    background-color: #FF6B46;
    text-align: center;
    height: 80px;
    padding: 2px;
}

.results p{
    margin:0;   
}

.results h1{
    margin: 0;
    height: auto;
}

.check_img {
    height: 23px;
    margin-left: 2px;
}