/* FONT FAMILY */
@import url(//fonts.googleapis.com/css?family=Lato&subset=latin,latin-ext);
@import url(//fonts.googleapis.com/css?family=Playfair+Display&subset=latin,latin-ext);

/* GENERAL-HEADER */
body {
    margin:0;
}

.header {
    background-color: #F9E89B;
    display: flex;
    width: 100%;
    height: 100%;
    vertical-align: middle;
}

.blank{
    width: 30%;
}

.title{
    width: auto;
    text-align: center;
}

.title p{
    font-family: Playfair Display;
    font-size: 300%;
    width: auto;
    color: #EA3C33;
    font-weight: bold;
    margin-top: 0%;
    margin-bottom: 0%;
    position: relative;
}

img {
    height : 55px;
    fill : #260520;
    float: right;
    margin-top:5px;   
}

.refresh{
    align-content: center;
    width: 27%;
}

.body{
    color: #3A4042; 
    font-family: Lato;
    font-size: 120%;
}

.forms{
    margin: 0;
    background-color: #FF6B46 ;
    padding: 10px;
    height:auto;
}

.forms p{
    text-align: center;
    margin:0;
    word-wrap: normal;
}

.form-container{
    margin-left: 30%;
    margin-right: 30%;
}

.input-container{
    margin : 17px;
}

.authors{
    text-align: center;
    background-color: #F9E89B;
    padding: 5px;
}

.authors p{
    margin:0;
    font-size: 125%;
    font-family: Playfair Display;
    padding: 10px;
    color: #EA3C33;
    font-weight: bold;
}

.label{
    float: left;    
}

span.unit{
    float: right;
    margin: 5px;
}

.submit{
    text-align: center;
}

.radio{
    text-align: right;
    margin: 5px;
}

.dropdown{
    text-align: right;
    margin :5px;
}

.input{
    margin : 5px;
    text-align: right;
}