/* FONT FAMILY */
@import url(//fonts.googleapis.com/css?family=Lato&subset=latin,latin-ext);
@import url(//fonts.googleapis.com/css?family=Playfair+Display&subset=latin,latin-ext);

/* GENERAL-HEADER */
body {
    margin:0;
}

.header {
    background-color: #FF8F00;
    display: flex;
    width: 100%;
    height: 100%;
    vertical-align: middle;
}

.blank{
    width: 25%;
}

.title{
    width: 50%;
    text-align: center;
}

.title p{
    font-family: Playfair Display;
    font-size: 300%;
    width: auto;
    color: #2B3A42;
    font-weight: bold;
    margin-top: 0%;
    margin-bottom: 0%;
    position: relative;
}

img {
    height : 55px;
    fill : #2B3A42;
    background-color: #FF8F00;
    float: right;
    margin-top:5px;   
}

.refresh{
    text-align: center;
    width: 25%;
    border:none;
}

.refresh button {
    border: none;
    background-color: #FF8F00;
}

.body{
    color: #2B3A42;
    font-weight: 550; 
    font-family: Playfair Display;
    font-size: 20px;
}

.forms{
    margin: 0;
    background-color: #BDD3DE ;
    padding: 15px;
    height:auto;
}

.forms p{
    text-align: center;
    margin:0;
    word-wrap: normal;
}

.form-container{
    width: 700px;
    /* margin-left: 20%; */
    /* margin-right: 20%; */
}

.input-container{
    margin : 10px;
}

.footer{
    text-align: center;
    background-color: #FF8F00;
    padding:5px;
}

.authors {
    margin:0;
    font-size: 125%;
    font-family: Playfair Display;
    color: #3A4042;
    font-weight: bold;
}

.authors p{
    margin :0;
}

.label{
    float: left; 
    /* word-wrap: normal; */
    white-space: pre-wrap; 
}

span.unit{
    float: right;
    width: 60px;
    font-size: 20px;
}

.submit{
    text-align: center;
    padding: 2px;
}

.radio{
    text-align: left;
    margin-left:490px;
    font-size: 20px;
}

.dropdown{
    text-align: right;
    margin :5px;    
}

.dropdown select{
    /* margin-right: 60px; */
    width: 180px;
}

.input{
    margin : 5px;
    text-align: right;
}

/* input[type=text]{
    border-radius: 4px;
    width: 22%;
    font-size: 80%;
    font-family: Playfair Display;
    text-align: center;
} */

.input-form {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 4px;
    font-size: 20px;
    text-align: center;
    font-family: Playfair Display;
    border: 1px grey solid;
    width: 120px;
    padding: 0px;
    color: #2B3A42;
    background-color: #F0F0DF;
    height: 30px;
}

button {
    border-radius: 4px;
    border : 4px #3A4042;
    background-color: #F0F0DF;
    font-family: Lato;
    font-size: 100%;
    font-weight: bold;
    color: #2B3A42;
    padding: 2px;
    margin-bottom: 7px;
}

button:hover {
    background-color: #3A4042;
    color: #F0F0DF;
    border : 5px;
}

.results{
    background-color: #BDD3DE;
    text-align: center;
    height: 80px;
    padding: 2px;
}

.results p{
    margin:0;   
}

.results h1{
    margin: 0;
    height: auto;
}

.check_img {
    height: 23px;
    margin-left: 2px;
    background-color: #BDD3DE;
}